html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff1e0;   /* TODO: use o-colors */
	cursor: none;
}

body {
	font-family: FinancierDisplayWeb, serif;
	font-size: 5vh;
}

.flex-row { flex-flow: row; display: flex; }
.flex-col { flex-flow: column; display: flex; }

.flex-row > *,
.flex-col > * { flex: 1 0 auto; position: relative; }

.ft-logo-square {
    background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:brand-ft-logo-square?width=100&format=png&source=big-ft');
    background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:brand-ft-logo-square?format=svg&source=big-ft'), none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.ft-logo-square:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.flex-col > h1 {
	flex: 0 0 auto;
	padding: 0.3em 0;
	border-bottom: 1px dotted #bbbbbb;
	font-size: 1.8em;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 300;
	white-space: nowrap;
}

.last-updated {
	font-family: MetricWeb;
	color: #808080;
	font-size: 0.2em;
	position: absolute;
	right: 1vw;
	bottom: 2.3em;
	display: inline-block;
}

.detected-timezone {
	font-family: MetricWeb;
	color: #808080;
	font-size: 0.2em;
	position: absolute;
	// float: right;
	left: 1vw;
	bottom: 2.3em;
	display: inline-block;
}

.main-stories {
	border-bottom: 1vh solid #9b164f;   /* TODO: use o-colors */
}
.main-stories__media-container {
	width: 50%;
	overflow: hidden;
}
.main-stories__media {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: auto;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	transition: opacity 1s ease;
	display: block;
}
.main-stories__media--current {
	opacity: 1;
}
.main-stories__headlines {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 50%;
	color: #333333;
}
.main-stories__headlines > .main-stories__story {
	padding: 0.5em;
	display: flex;
	align-items: center;
	font-size: 1.1em;
}
.main-stories__story--current {
	background: #e2cbb6;   /* TODO: use o-colors */
}

.ticker {
	padding: 0.5em 0;
	height: 2em;
	flex: 0 0 auto;
	color: #222222;
	box-sizing: border-box;
}
.ticker__story {
	float: left;
	padding-right: 2em;
	box-sizing: border-box;
}

.footer {
	background: #e2cbb6;
	font-family: MetricWeb;
	height: 2em;
	flex: 0 0 auto;
}
.footer > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 50%;
}
.footer-meta {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.footer-meta > li {
	flex: 0 0 auto;
	margin-right: 0.8em;
}
.footer-cards {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer-cards [data-active-timezone="true"] {
	&:after {
		content: "";
		width: 6px;
		height: 6px;
		background: black;
		border-radius: 100%;
		position: absolute;
		bottom: 5%;
		margin-left: -3px;
	}
}

.footer-cards__card {
	flex: 0 0 auto;
	height: 100%;
	border-right: 1px dotted #888888;
	padding: 0.1em 0.3em;
	text-align: center;
	box-sizing: border-box;
}
.footer-cards__card > h3 {
	text-transform: uppercase;
	font-size: 0.4em;
	font-weight: normal;
	margin: 0;
}
.footer-cards__card > p {
	margin: 0;
}
.footer-cards__card--dim > * {
	opacity: 0.3;
}


.pageload-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 3;
}

.pageload-overlay.show {
	visibility: visible;
}

.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0;
}

.pageload-overlay svg path {
	fill: #333333;
}

.pageload-overlay .brand {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0;
	transition: opacity 0.4s ease;
	color: white;
	text-shadow: 0 0 4vw black;
}
.pageload-overlay .brand {
	font-size: 9vw;
}
.pageload-overlay .brand .strap {
	font-size: 0.8em;
	font-style: italic;
	font-weight: 300;
}
.pageload-overlay.show .brand {
	animation: zoomin 3s linear 1 forwards;
}
.pageload-overlay.pageload-loading .brand {
	opacity: 1;
}
@keyframes zoomin {
	from {
		transform: translateX(-50%) translateY(-50%) scale(0.8);
		text-shadow: -4vw -2vh 4vw #000000;
	}
	30% {
		transform: translateX(-50%) translateY(-50%) scale(0.9);
	}
	60% {
		transform: translateX(-50%) translateY(-50%) scale(0.96);
	}
	to {
		transform: translateX(-50%) translateY(-50%) scale(1);
		text-shadow: 4vw -2vh 4vw #000000;
	}
}
