<!DOCTYPE html>
<html class='core'>
<head>
	<meta charset='utf-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<title>Big FT</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />

	<script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);

		if (cutsTheMustard) {
			{{!--/* Swap the `core` class on the HTML element for an `enhanced` one
			 We're doing it early in the head to avoid a flash of unstyled content */--}}
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>
	<link rel="stylesheet" href="/static/build/main.css" type="text/css" />
	<link rel="stylesheet" href="//build.origami.ft.com/v1/bundles/css?modules=o-fonts%402.1.0%2Co-ft-icons%402.4.0%2Co-autoinit%401.2.0&shrinkwrap=o-assets%402.0.0" type="text/css">

	{{#if isProduction }}
		{{> sentry }}
	{{/if}}

	<script src="http://build.origami.ft.com/v2/bundles/js?modules=o-errors@^3.3.0"></script>
	<script src="//polyfill.webservices.ft.com/v2/polyfill.min.js?features=fetch,promise,Array.prototype.find,Intl"></script>
	<script src="/static/js/vendor/snap-svg.min.js"></script>


</head>
<body class='flex-col' data-version="{{version}}">

	<div id='loader' class='pageload-overlay show pageload-loading' data-opening='m 40,-80 190,0 -305,290 C -100,140 0,0 40,-80 z' data-closing="m 75,-80 155,0 0,225 C 90,85 100,30 75,-80 z">
		<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 80 60' preserveAspectRatio='none' >
			<path d='m 40,-80 190,0 -305,290 C -100,140 0,0 40,-80 z' start="m 75,-80 155,0 0,225 C 90,85 100,30 75,-80 z"/>
		</svg>
		<div class='brand'>
			<h1>Financial Times</h1>
			<div class='strap'>It is what you know</div>
		</div>
	</div>

	<h1><small id="detectedTimezone" class="detected-timezone"> </small>FINANCIAL TIMES<span class="last-updated" data-isotime=""></span></h1>

	<div class='main-stories flex-row'>
		<div class='main-stories__media-container'>
			{{!--<img class='main-stories__media main-stories__media--current' src='https://next-geebee.ft.com/image/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2F8ad8636a-9296-11e5-bd82-c1fb87bef7af?source=next&fit=scale-down&width=2000'>
			<img class='main-stories__media' src='https://next-geebee.ft.com/image/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2F251609b6-83e5-11e5-8e80-1574112844fd?source=next&fit=scale-down&width=2000'>
			<img class='main-stories__media' src='https://next-geebee.ft.com/image/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fe9afef64-23cb-11e5-bd83-71cb60e8f08c?source=next&fit=scale-down&width=2000'>--}}
		</div>
		<ol class='main-stories__headlines flex-col'>
			{{!-- <li class='main-stories__story main-stories__story--current'>Turkey shoots down Russian fighter jet on Syrian border</li>
			<li class='main-stories__story'>British university fees more expensive than US on average</li>
			<li class='main-stories__story'>Rolls-Royce pledges cost cuts in strategic overhaul</li>--}}
		</ol>
	</div>

	<div class='ticker'>
		<ul>
			{{!-- <li class='ticker__story'>Toyota hires robotics expert for AI push</li> --}}
			{{!-- <li class='ticker__story'>Tesco set to pull out of Nigera</li> --}}
			{{!-- <li class='ticker__story'>News tickers judged 'extremely annoying' by readers' poll</li> --}}
		</ul>
	</div>

	<div class='footer flex-row'>
		<ul class='footer-cards'>
			<li class="footer-cards__card footer-cards__card--light"><h3>New York</h3><p><time data-tz='America/New_York'>13:54</time></p></li>
			<li class="footer-cards__card "><h3>London</h3><p><time data-tz='Europe/London'>21:54</time></p></li>
			<li class="footer-cards__card footer-cards__card--light"><h3>Beijing</h3><p><time data-tz='Asia/Shanghai'>17:54</time></p></li>
			<li class="footer-cards__card "><h3>Hong Kong</h3><p><time data-tz='Asia/Hong_Kong'>19:54</time></p></li>
			<li class="footer-cards__card "><h3>Tokyo</h3><p><time data-tz='Asia/Tokyo'>19:54</time></p></li>
		</ul>
		<ul class='footer-meta'>
			<li class='last-updated footer-cards__card--dim'></li>
			<li>www.ft.com</li>
		</ul>
	</div>

	{{!--<!--
		Load LAB.js (Loading And Blocking JavaScript) to download the JS files asynchronously, ensuring execution order is kept.
	-->--}}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/labjs/2.0.3/LAB.min.js'></script>

	{{!--<!--
		Load main JavaScript bundle (asynchronously, to make sure it's non-blocking).
	-->--}}
	<script>
	  $LAB
		.script('/static/js/vendor/fittext.js').wait()
		.script('/static/build/main.js');

	</script>
</body>
</html>
